@font-face {
    font-family: haylad-micro;
    src: url("fonts/haylad-micro.ttf");
}


/* ==========================
   GRUNDSTIL
========================== */


body {

    margin:0;
    font-family:'Courier New', Courier, monospace;
    background-color:#f4f4f4;
    text-align:center;

}


.site-header,
.bild-struktur,
.bild-container,
.text-button-container {

    background-color:#82c9b8;

}



a {

    color:inherit;

}





/* ==========================
   HEADER DESKTOP
========================== */


.site-header {

    display:grid;
    grid-template-columns:1fr auto 1fr;
    align-items:center;
    padding:20px 40px;
    justify-content:center;
}



.header-left {

    justify-self:start;
    position:relative;

}


.desktop-nav {

    display:flex;
    gap:25px;

}



.social-link {

    text-decoration:none;

}




.header-center, .footer-left {

    justify-self:center;
    align-items: center;

}

.lally-logo {

    width:200px;
    height:40px;

}

.lally-logo01 {

    width:150px;
    height:auto;

}


.header-right {

    justify-self:end;
    display:flex;
    align-items:center;
    gap:25px;

}



.header-right img {

    display:block;

}


.instagram-link img {

    width:24px;
    height:24px;

}



.warenkorb-link img {

    width:32px;
    height:32px;

}



.social-link:hover,
.instagram-link:hover,
.warenkorb-link:hover,
.footer-link:hover {

    transform:scale(1.15);
    opacity:.8;

}





/* Hamburger versteckt Desktop */

.menu-toggle,
.mobile-menu {

    display:none;

}





/* ==========================
   SCHRIFTEN
========================== */


.Produkte {

    font-family:haylad-micro;
    font-size:65px;
    letter-spacing:1px;
    font-weight:300;

}

.ueberschrift01 {

    font-family:haylad-micro;
    font-size:44px;
    letter-spacing:1px;
    font-weight:300;

}



.ueberschrift02 {

    font-family:haylad-micro;
    font-size:24px;
    font-weight:300;

}



.ueberschrift03 {

    font-family:haylad-micro;
    font-size:16px;
    font-weight:300;

}





/* ==========================
   BILDER
========================== */

.lally-logo01 {
    height: 90px;
    width: 250px;
}

.lally-logo02 {
    height: 90px;
    width: 150px;
}

.header-center-bilder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.bild-struktur {

    display:flex;
    flex-direction:column;
    gap:20px;

}



.bild-container {

    display:flex;
    gap:30px;
    padding:20px;

}



.product-link01,
.product-link02 {

    flex:1;
    overflow:hidden;

}



.product-link01 img,
.product-link02 img {

    width:100%;
    height:550px;
    object-fit:cover;

}



.product-link01 img {

    border-radius:20px;
    background-image:linear-gradient(180deg,#6495ED,#59c5ac);

}



.product-link02 img {

    border-radius:90% 75% 90% 75% / 52% 52% 52% 52%;
    background-color:#FFFACD;

}





/* ==========================
   BUTTON BEREICH
========================== */


.text-button-container {

    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    padding:20px;

}



.button {

    padding:16px 64px;
    background:black;
    color:#82c9b8;
    text-decoration:none;
    border-radius:5px;

}



.button:hover {

    opacity:.8;

}





/* ==========================
   ARTIKEL
========================== */


.article-container {

    max-width:1200px;
    margin:40px auto;

}



article p {

    text-align:justify;
    line-height:1.6;

}





/* ==========================
   FOOTER
========================== */


.site-footer {

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:40px;
    background:#D3D3D3;

}


.site-footer .ueberschrift03, .lally-logo {

    margin-bottom:30px;

}

.footer-right-container {

    display:flex;
    gap:80px;
    text-align:left;
}


.footer-left,
.footer-right {

    display:flex;
    flex-direction:column;
    gap:20px;

}

.footer-left p {

    margin:0;

}


.footer-link {

    text-decoration:underline;

}







/* ==================================================
   MOBILE VERSION
================================================== */


@media screen and (max-width:768px) {



/* HEADER */

.site-header {

    grid-template-columns:auto 1fr auto;
    padding:20px;
}


.header-left {
    justify-self:start;
}


.header-center {
    justify-self:center;
}


.header-right {
    justify-self:end;
    gap:12px;
}

.header-center-bilder img {
    height: 45px;
    width: auto;
}

.ueberschrift01 {
    font-size:32px;
}





/* Hamburger */

.menu-toggle {

    display:flex;
    flex-direction:column;
    justify-content:space-between;

    width:28px;
    height:18px;

    border:none;
    background:none;
    padding:0;

    cursor:pointer;

}



.menu-toggle span {

    display:block;
    width:100%;
    height:2px;
    background:black;
    transition:.3s;

}




/* Hamburger Animation */

.menu-toggle.open span:first-child {
    transform:rotate(45deg) translateY(10px);

}


.menu-toggle.open span:last-child {
    transform:rotate(-45deg) translateY(-10px);
}






/* MOBILE MENÜ */


.mobile-menu {

    display:none;
    position:absolute;
    top:45px;
    left:0;
    background:#82c9b8;
    padding:20px;
    border-radius:10px;
    flex-direction:column;
    gap:15px;
    z-index:20;
}

.desktop-nav {
        display:none;
}


.mobile-menu.active {
    display:flex;
}

.mobile-menu a {
    text-decoration:none;
}


/* BILDER */
.header-center-bilder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.bild-container {
    flex-direction:column;
    gap:20px;
}


.product-link01 img,
.product-link02 img {
    height:auto;
}

.lally-logo {
    width:250px;
}

.lally-logo01 {
    height: 150px;
    width: 55px;
}

.lally-logo02 {
    height: 100px;
    width: 55px;
}


/* PRODUKT TITEL */


.text-button-container {
    flex-direction:column;
    gap:20px;
}



.Produkte {
    font-size:42px;
}



.button {
    padding:14px 40px;
}





/* TEXT */


.article-container {
    padding:20px;
}



article p {
    font-size:16px;
}


/* FOOTER */


.site-footer {

    flex-direction:column;
    gap:30px;
    padding:30px 20px;
}

.footer-right-container {

    flex-direction:column;
    gap:20px;
    text-align:left;
}


.footer-left,
.footer-right {

    align-items:center;
    gap:5px;

}

.site-footer .ueberschrift03, .lally-logo {
    margin-bottom: 15px;

}
}
